*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    display: grid;
    grid-template-areas: 
    "cabeza1"
    "cabeza2"
    "cuerpo"
    "piePagina1"
    "piePagina2"
    ;
    grid-template-columns: 100%;
    grid-template-rows: 70vh 30vh 200vh 20vh 80vh;
}

.cabeza1{
    grid-area: cabeza1;
    width: 100%;
    height: 100%;
    background-color: green;
}

.cabeza2{
    grid-area: cabeza2;
    width: 100%;
    height: 100%;
    background-color: red;
}

.cuerpo{
    grid-area: cuerpo;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: yellow;
    align-items: center;
}

.cuerpo12{
    margin: 10px;
    width: 95%;
    height: 50%;
    background-color: green;

    display: flex;
    flex-direction: column;
}

.cuerpo1{
    margin: 10px;
    width: 95%;
    height: 50%;
    background-color: gray;
}

.piePagina1{
    grid-area: piePagina1;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.piePagina2{
    grid-area: piePagina2;
    width: 100%;
    height: 100%;
    background-color: purple;
}

.cuadrado{
    display: none;
}

@media (min-width: 769px){

    .contenedor{
        display: grid;
        grid-template-areas: 
        "cabeza1 cabeza1 cabeza1"
        "cabeza2 cabeza2 cabeza2"
        "piePagina1 cuerpo cuerpo"
        "piePagina2 piePagina2 piePagina2"
        ;
        grid-template-columns: 30% 35% 35%;
        grid-template-rows: 70vh 30vh 100vh 30vh;
    }

    .cabeza1{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cuadrado{
        display: flex;
        width: 50px;
        height: 50px;
        background-color: yellow;
    }

}

